body {
    font-family: arial, sans-serif;
}
body h2{
    margin: 0;
    font-size: 1.1rem;
    padding-top: 0.7rem;
}
.Tabela_Filtro select{
    width: 100%;
    padding: 5px;
}
.Tabela_Resultado {
    border-collapse: collapse;
    width: 100%;
    font-size: small;
}
  
.Tabela_Resultado td, th {
    border: 1px solid #969696;
    text-align: left;
    padding: 5px;
}
  
.Tabela_Resultado tr:nth-child(even) {
    background-color: #adb2ff;
}

.hide{
    visibility: collapse  
}